---
layout: description
title: Blog
pagetype: blog
pagination:
    enalbed: true
    per_page: 10
---
<!-- This loops through the paginated posts -->
{% if paginator.total_posts == 0 %}
<p>No posts right now.</p>
{% else %}
<div class="blogPage-categoryList">
    <ul>
        <li>Categories _testText2_ :</li>
        <li><a href="/categories/#Total_category" onclick="showCategory('Total_category')">Total</a></li>
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li><a href="{{ "/categories/#" | append: category_name | relative_url }}">{{ category_name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr size="2" width="100%" color="black" align="Center" NOSHADE />
{% for post in paginator.posts %}
    <div class="blog-list">
        <h2><a href="{{ post.url }}" class="link-post_list">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%b %d, %Y" }} by {{ post.author }}</p>
        <div class="post-list-content">
            {{ post.excerpt | truncatewords: 45, '...' }}
            <p class="text-right"><a href="{{ post.url }}">read more...</a></p>
        </div>
    </div>
{% endfor %}
</ul>
{% endif %}
<hr>
{% if paginator.total_pages > 1 %}
<ul>
    {% if paginator.previous_page %}
    <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    </li>
    {% endif %}
</ul>
{% endif %}