---
layout: description
title: Blog
<!-- pagetype: blog -->
permalink: /blog/
---

{% if paginator.total_posts == 0 %}
<p>No posts right now.</p>
{% else %}
<div class="blogPage-categoryList">
    <ul>
        <li>Categories :</li>
        <li><a href="/categories/#Total_category" onclick="showCategory('Total_category')">Total</a></li>
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li><a href="{{ "/categories/#" | append: category_name | relative_url }}">{{ category_name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr size="2" width="100%" color="black" align="Center" NOSHADE />
  {% endif %}
  {% for post in paginator.posts %}
<div style="width: 100%; overflow: hidden;">
    <h1 style="display: flex; justify-content: space-between; align-items: center; width: calc(100% - 20px); padding: 0 10px; box-sizing: border-box;">
        <a href="{{ post.url }}" style="flex-grow: 1; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ post.title }}</a>
        <span class="date" style="font-size: 0.5em; font-weight: 200; margin-left: 10px; overflow: visible; white-space: nowrap; text-overflow: ellipsis;">{{ post.date | date: "%Y-%m-%d" }}</span>
    </h1>
</div>
<div class="content" style="font-size: 1.0em; font-weight: 200;">
    {{ post.summarize | truncatewords: 50 }}
</div>
{% endfor %}
{% if page.pagination.category %}
{% assign category = page.pagination.category | prepend: '/category/' | default: site.baseurl %}
{% else %}
{% assign category = site.baseurl %}
  {% endif %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: category | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}