---
layout: description
---

<h1 class="large-heading">{{ page.title }} <small class="post-date">{{ page.date | date_to_string }}</small></h1>
{{ content }}

<div class="post-footer">
<div class="post-categories">
  {% if page.series %}Series: <a href="{{ '/series/' | relative_url }}#{{ page.series | slugify }}">{{ page.series }}</a>{% endif %}
</div>
<div>{% include share_buttons.html %}</div>

</div>
{% if site.disqus.shortname and page.comments %}
  <hr>
  {% include disqus_comments.html %}
{% endif %}
